APP_PORT=3000
GOOGLE_PROJECT_ID=sereneflow-app
GOOGLE_CLIENT_EMAIL=firebase-adminsdk@sereneflow-app.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC...\n-----END PRIVATE KEY-----\n"
GOOGLE_STORAGE_BUCKET=sereneflow-app.appspot.com
CEO_EMAIL=sereneflow27@gmail.com
JWT_SECRET=super-secret-serene-flow-jwt-key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sereneflow27@gmail.com
SMTP_PASS=your-app-password
SWAGGER_USER=admin
SWAGGER_PASSWORD=adminpass
FIRESTORE_DATABASE_ID=serene-flow


